@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none
}

a {
  text-decoration: none;
  color: gray;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-links {
  display: flex;
  gap: 24px;
  margin: 12px;
}

.right-links {
  display: flex;
  gap: 24px;
  margin: 12px;
}

img {
  width: 600px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 6px 12px;
  margin-top: 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #eeeeee;
}
